.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
}
.head {
    background: #fc0;
    text-align: center;
    height: 100px;
    position: relative;
    width: 100px;
  }
  .face {
    font-family: 'courier new', serif;
    font-size: 2.5em;
    font-weight: bold;
  }